<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tower Defense</title>

    <style>
        #mainPage {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgb(68, 68, 68);
            overflow: hidden;
            z-index: 1;
        }

        #gamePage {
            position: absolute;
            background-color: rgb(68, 68, 68);
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: row;
            z-index: 0;
            min-width: 1200px;
            min-height: 600px;
        }


        #gameBoard {
            background-color: black;
            width: 85%;
            height: 100%;
            z-index: 2;
        }

        #gameMenu {
            position: relative;
            background-color: dimgray;
            width: 15%;
            height: 100%;
            z-index: 2;
        }

        #programMenu {
            position: absolute;
            background-color: black;
            border: none;
            top: 75%;
            left: 0;
            width: 100%;
            height: 25%;
            z-index: 0;

        }

        #programBox {
            position: absolute;
            background-color: #1e1e1e;
            color: #d4d4d4;
            border: 1px solid #3c3c3c;
            padding: 5px;
            line-height: 1.5;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            border-bottom-right-radius: 15px;
        }

        #towerMenu {
            position: absolute;
            background-color: grey;
            display: block;
            left: 0;
            width: 15%;
            height: 34%;
            opacity: 0.7;
            z-index: 5;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            transform: translate(-100%, 0);
        }

        #waveMenu {
            position: absolute;
            background-color: black;
            border: none;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 12.5%;
            z-index: 1;
        }

        #waveButton {
            position: absolute;
            background-color: #1e1e1e;
            border: none;
            color: white;
            padding: 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            cursor: pointer;
            border-radius: 15px;
            width: 90%;
            height: 90%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        #gameOverPage {
            position: absolute;
            background-color: rgb(1, 151, 21);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
        }

        .programButton {
            position: relative;
        }

        #gameOverPage {
            display: none;
            top: 40%;
            left: 40%;
            width: 20%;
            height: 20%;
            z-index: 2;
        }

        #gameOverText {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-size: calc(1rem + 1vw);
        }

        #restartButton {
            position: absolute;
            top: 80%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #1e1e1e;
            border: none;
            color: white;
            font-size: calc(0.4rem + 0.2vw);
        }

        #settings {
            position: absolute;
            top: 0.5%;
            left: 82.25%;
            width: 2.5%;
            height: 5%;
            z-index: 5;
            background-image: url('/images/userInterfaceImages/settingsIcon.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-color: transparent;
            border: none;
            color: white;
            padding: 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            cursor: pointer;
            border-radius: 15px;
        }

        #upgradeButtons {
            border: none;
            top: 0;
            left: 0;
            width: 100%;
            height: 25%;
            z-index: 1;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }

        #upgradeButton1, #upgradeButton2, #upgradeButton3, #upgradeButton4 {
            position: relative;
            background-color: #1e1e1e;
            border: none;
            color: white;
            text-align: center;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border-radius: 15px;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
        }

        #upgradeInfo1, #upgradeInfo2, #upgradeInfo3, #upgradeInfo4 {
            position: absolute;
            background-color: #525252;
            border: none;
            color: white;
            text-align: center;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border-radius: 50%;
            width: 16%;
            height: 24%;
            top: 5%;
            left: 80%;
        }
    </style>
</head>

<body>
    <div id="mainPage">
        <div id="gamePage">
            <canvas id="gameBoard">
                <p id="baseHealth"></p>
                <p id="money">Bitpogs: </p>
                <p id="wave">Wave: </p>
            </canvas>
            <button id="settings"></button>
            <div id="gameOverPage">
                <h1 id="gameOverText">Game Over!</h1>
                <button id="restartButton" onclick="restartGame()">Restart</button>
            </div>
            <div id="backgroundPage"></div>
            <div id="gameMenu">
                <div id="gameMenuShop"></div>
                <div id="waveMenu">
                    <button id="waveButton" onclick="sendWave()">Send Wave</button>
                </div>
            </div>
            <div id="towerMenu">
                <div id="towerOverview">
                    <h2 id="towerName"></h2>
                </div>
                <div id="towerStats">
                    <p id="towerDamage">Damage: N/A</p>
                    <p id="towerRange">Range: N/A</p>
                    <p id="towerFireRate">Fire Rate: N/A</p>
                </div>
                <div id="upgradeButtons">
                    <div id="upgradeButton1">
                        <button id="upgradeInfo1" onclick="event.stopPropagation();">?</button>
                        <p id="upgradeName1"></p>
                        <p id="upgradeCost1"></p>
                    </div>
                    <div id="upgradeButton2">
                        <button id="upgradeInfo2" onclick="event.stopPropagation();">?</button>
                        <p id="upgradeName2"></p>
                        <p id="upgradeCost2"></p>
                    </div>
                    <div id="upgradeButton3">
                        <button id="upgradeInfo3" onclick="event.stopPropagation();">?</button>
                        <p id="upgradeName3"></p>
                        <p id="upgradeCost3"></p>
                    </div>
                    <div id="upgradeButton4">
                        <button id="upgradeInfo4" onclick="event.stopPropagation();">?</button>
                        <p id="upgradeName4"></p>
                        <p id="upgradeCost4"></p>
                    </div>
                </div>
                <button id="sellButton" onclick="sellTower()">Sell: N/A</button>
                <div id="programMenu">
                    <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                        <button onclick="runProgram()" class="programButton" style="flex: 1; margin-right: 5px;">Run
                            Program</button>
                        <button onclick="clearProgram()" class="programButton" style="flex: 1; margin-right: 5px;">Clear
                            Program</button>
                        <button onclick="saveProgram()" class="programButton" style="flex: 1; margin-right: 5px;">Save
                            Program</button>
                        <button onclick="loadProgram()" class="programButton" style="flex: 1;">Load A Program</button>
                    </div>
                    <textarea id="programBox" name="programBox" cols="22" rows="10"
                        style="resize: none; font-family: 'Courier New', monospace; white-space: pre; overflow-x: auto; background-color: #1e1e1e; color: #d4d4d4; border: 1px solid #3c3c3c; padding: 5px; line-height: 1.5; width: 100%; height: 100%; box-sizing: border-box; border-bottom-right-radius: 15px;"></textarea>
                </div>
            </div>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="gameclientside.js"></script>
</body>

</html>