<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tower Defense</title>

    <style>
        #mainPage {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: navy;
            overflow-x: hidden;
            overflow-y: hidden;
        }

        #gameBoard {
            position: absolute;
            background-color: black;
            top: 0;
            left: 0;
            width: 85vw;
            height: calc(100vw / 2);
            z-index: 10;
        }

        #gameShopMenu {
            position: absolute;
            background-color: white;
            top: 0;
            right: 0;
            width: 15vw;
            height: calc(100vw / 2);
            z-index: 10;
        }
    </style>
</head>

<body>
    <div id="mainPage">
        <canvas id="gameBoard"></canvas>
        <div id="gameShopMenu"></div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="gameclientside.js"></script>
</body>

</html>