<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tower Defense</title>

    <style>
        #backgroundPage {
            position: absolute;
            background-color: rgb(68, 68, 68);
            bottom: 0;
            left: 0;
            width: calc(100%);
            height: 0;
            /* height: calc(100% - calc(100vw / 2)); */
            z-index: 10;
        }

        #mainPage {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgb(68, 68, 68);
            overflow: hidden;
        }

        #gamePage {
            position: absolute;
            background-color: rgb(68, 68, 68);
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            /* Use full height */
            display: flex;
            /* Enable Flexbox */
            flex-direction: row;
            /* Arrange children horizontally */
            z-index: 0;
        }


        #gameBoard {
            background-color: black;
            flex: 4;
            /* Take up 80% of the width */
            height: 100%;
            /* Match the height of #gamePage */
            z-index: 1;
        }

        #gameMenu {
            position: relative;
            background-color: dimgray;
            flex: 1;
            /* Take up 20% of the width */
            height: 100%;
            /* Match the height of #gamePage */
            z-index: 1;
        }

        #programMenu {
            position: absolute;
            background-color: black;
            border: none;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 25%;
            z-index: 1;
            min-width: 100%;
            min-height: 100px;
        }

        #towerMenu {
            position: absolute;
            background-color: grey;
            display: block;
            left: 0;
            width: 15vw;
            height: 34vw;
            opacity: 0.5;
            z-index: 1;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            min-width: calc(800px * 0.159);
            min-height: calc(800px * 0.34);
            margin-top: calc(800px * 0.02);
            transform: translate(-100%, 0);
        }

        #waveMenu {
            position: relative;
            background-color: black;
            border: none;
            top: 80%;
            left: 0;
            width: 100%;
            height: 12.5%;
            z-index: 1;
            min-width: 100%;
            min-height: 100px;
        }

        #waveButton {
            position: relative;
            background-color: #1e1e1e;
            border: none;
            color: white;
            font-size: calc(0.4rem + 0.2vw);
            padding: 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 15px;
            width: 100%;
            height: 90%;
        }

        #gameOverPage {
            position: absolute;
            background-color: rgb(1, 151, 21);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
        }

        .programButton {
            position: relative;
            width: 20%;
            height: 10%;
            font-size: calc(0.4rem + 0.2vw);
        }

        #gameOverPage {
            display: none;
            top: 40%;
            left: 40%;
            width: 20%;
            height: 20%;
            z-index: 2;
        }

        #gameOverText {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-size: calc(1rem + 1vw);
        }

        #restartButton {
            position: absolute;
            top: 80%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #1e1e1e;
            border: none;
            color: white;
            font-size: calc(0.4rem + 0.2vw);
        }
    </style>
</head>

<body>
    <div id="mainPage">
        <div id="gamePage">
            <canvas id="gameBoard">
                <p id="baseHealth">Health: </p>
                <p id="money">Bitpogs: </p>
                <p id="wave">Wave: </p>
            </canvas>
            <div id="gameOverPage">
                <h1 id="gameOverText">Game Over!</h1>
                <button id="restartButton" onclick="restartGame()">Restart</button>
            </div>
            <div id="backgroundPage"></div>
            <div id="gameMenu">
                <div id="gameMenuShop"></div>
                <div id="waveMenu">
                    <button id="waveButton" onclick="sendWave()">Send Wave</button>
                </div>
            </div>
            <div id="towerMenu">
                <div id="programMenu">
                    <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                        <button onclick="runProgram()" class="programButton" style="flex: 1; margin-right: 5px;">Run
                            Program</button>
                        <button onclick="clearProgram()" class="programButton" style="flex: 1; margin-right: 5px;">Clear
                            Program</button>
                        <button onclick="saveProgram()" class="programButton" style="flex: 1; margin-right: 5px;">Save
                            Program</button>
                        <button onclick="loadProgram()" class="programButton" style="flex: 1;">Load A Program</button>
                    </div>
                    <textarea id="programBox" name="programBox" cols="22" rows="10"
                        style="resize: none; font-family: 'Courier New', monospace; white-space: pre; overflow-x: auto; background-color: #1e1e1e; color: #d4d4d4; border: 1px solid #3c3c3c; padding: 5px; line-height: 1.5; width: 100%; height: 100%; box-sizing: border-box; border-bottom-right-radius: 15px;"></textarea>
                </div>
            </div>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="gameclientside.js"></script>
</body>

</html>